/* 最外部容器 */
.bodycontainer{
  width: 100%;
  padding: 0;
  margin: 0;
}

/* 顶部栏容器 */
.topBarcontainer{
  width: 100%;
  height: 40px;
  background-color: #333;
}

/* 顶部栏中的item */
.topbarItem{
  width: 1226px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 左边 */
.topbarItem .left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.topbarItem .left .leftitem{
  height: 20px;
  padding: 0 8px;
  border-right: 2px solid #424242;
}
.topbarItem .left .leftitem:last-child{
  border-right: none;
}
.topbarItem .left .leftitem:first-child{
  padding-left: 0;
}
.topbarItem .left .leftitem a{
  color: #b0b0b0;
  font-size: 12px;
  line-height: 20px;
}
.topbarItem .left .leftitem a:hover{
  color: #fff;
}

/* 下载app下拉框 */
/* 下拉框的小三角 */
.topbarItem .left .download::after{
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  content: '';
  border: 8px solid transparent;
  border-bottom: 8px solid #fff;
  left: 50%;
  transform:translate(-50%,-6px);
  opacity: 0;
}
.topbarItem .left .download:hover::after{
  opacity: 1;
}
/* 下拉框图片以及文字 */
.topbarItem .left .download{
  position: relative;
  z-index: 100;
}
.topbarItem .left .download:hover .downloadimg{
  height:153.6px;
}
.topbarItem .left .downloadimg{
  position: absolute;
  right: 50%;
  transform: translate(50%,10px);
  box-shadow: 0 1px 5px #aaa;
  background-color: #fff;
  height: 0px;
  transition: all .3s;
  overflow: hidden;
}
.downloadimg div{
  padding: 22px 20px 16px;
}
.topbarItem .left .downloadimg img{
  width: 90px;
  height: 90px;
}
.topbarItem .left .downloadimg p{
  text-align: center;
  color: #000000;
  font-size: 14px;
}

/* 右边部分 */
.topbarItem .right{
  display: flex;
  justify-content: center;
  align-items: center;
}
.topbarItem .right .rightitem{
  height: 20px;
  padding: 0 8px;
  border-right: 2px solid #424242;
}
.topbarItem .right .rightitem:nth-child(3){
  border-right: none;
}
.topbarItem .right .rightitem a{
  color: #b0b0b0;
  font-size: 12px;
  line-height: 20px;
}
.topbarItem .right .rightitem a:hover{
  color: #fff;
}

/* 购物车部分 */
.shoppingcar{
    position: relative;
    width: 120px;
    height: 40px;
    line-height: 40px;
    color: #b0b0b0;
    background: #424242;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caricon{
  height:40px;
  margin-right: 10px;
}
.shoppingcar a{
  color: inherit;
  font-size: 12px;
}
.shoppingcar:hover {
  color:#ff6700;
  background-color: #fff;
}

/* 购物车菜单 */
.car-menu{
  position:absolute;
  right: 0;
  top: 40px;
  width: 316px;
  height:0px;
  line-height: 100px;
  font-size: 12px;
  overflow: hidden;
  text-align: center;
  color: #000000;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,.15);
  transition: all .3s;
  z-index: 100;
}
.shoppingcar:hover .car-menu{
  height: 100px;
}


/* navi-bar */
.navi-bar-container{
  position: relative;
  width: 100%;
  height: 100px;
}
.navi-bar{
  width: 1226px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}


/* 左边图标 */
.navi-icon-wrapper{
  background-color: #ff6700;
  width: 55px;
  height: 55px;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 190px;
  cursor: pointer;
}
.navi-icon{
  width: 55px;
  height: 55px;
  transition: all .3s;
}
.navi-icon-wrapper:hover .navi-icon{
  transform: translateX(-55px)
}



/* 中间分类 */
.category-wrapper{
  height: 100px;
  width: 616px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-wrapper .category{
  height: 100px;
  line-height: 100px;
}
.category-wrapper .category:hover a{
  color: #ff6700;
}



/* 右边搜索 */
.search-wrapper{
  height: 50px;
  margin-left: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-wrapper .input input{
  z-index: 1;
  width: 223px;
  height: 50px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 50px;
  border: 1px solid #aaa;
}
.search-wrapper .search-icon{
  height: 50px;
  width: 50px;
  line-height: 53px;
  text-align: center;
  border: 1px solid #aaa;
  border-left: none;
  transition: all .15s
}
.search-wrapper .search-icon svg{
  font-size: 24px;
  color:#616161;
}
.search-wrapper .search-icon:hover{
  cursor: pointer;
  background-color: #ff6700;
}
.search-wrapper .search-icon:hover .icon{
  color: #fff;
}

/* 导航栏下拉框 */
.navi-bar-slide-down-container{
  position:absolute;
  left: 0;
  width: 100vw;
  height: 0;
  overflow: hidden;
  transition: all .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  z-index: 9999;
}
.category-wrapper .category:hover .navi-bar-slide-down-container{
  height: 230px;
  border-top: 1px solid #e3e3e3;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .18);
}
.navi-bar-slide-down-container .slide-down-item{
  width: 200px;
  height: 230px;
  line-height: 230px;
}
.navi-bar-slide-down-container .img-wrapper{
  margin-top: 25px;
  width: 200px;
  height: 150px;
  border-right: 2px solid #e3e3e3;
}
.navi-bar-slide-down-container .img-wrapper:last-child{
  border-right: none;
}
.navi-bar-slide-down-container .img-wrapper img{
  width: 200px;
  height: 138px;
}
.navi-bar-slide-down-container .price{
  height: 40px;
  line-height: 40px;
  color: #ff6700;
  text-align: center;
}

/* 轮播图部分 */
.swiper-container{
  width: 1226px;
  height: 460px;
  margin: 0 auto;
  position: relative;
}

/* 左边列表 */
.swiper-container .list-wrapper{
  position: absolute;
  width: 234px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:rgba(105,101,101,.6);
  z-index: 999;
}
.swiper-container .list-wrapper .listitem{
  width: 234px;
  height: 42px;
  line-height: 42px;
  display: flex;
  justify-content: space-around;
  color: #fff;
  cursor: pointer;
}
.swiper-container .list-wrapper .listitem a{
  color: #fff;
}
.swiper-container .list-wrapper .listitem:hover{
  background-color: #ff6700;
}

/* 列表详情 */
.swiper-container .list-wrapper .listitem .list-detail{
  position: absolute;
  top: 0;
  left: 234px;
  width: calc(1226px - 234px);
  height: 459px;
  display: none;
  z-index: 10000;
}
.swiper-container .list-wrapper .listitem:hover .list-detail{
  display: block;
  border: 1px solid #e0e0e0;
  border-left: 0;
  background: #fff;
  box-shadow: 0 8px 16px rgb(0 0 0 / 18%);
}
.swiper-container .list-wrapper .listitem .list-detail .list-detail-item{
  height: 40px;
  margin: 20px 18px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-container .list-wrapper .listitem .list-detail .list-detail-item img{
  height: 40px;
}
.swiper-container .list-wrapper .listitem .list-detail .list-detail-item .desc{
  color: #000000;
  height: 40px;
  line-height: 40px;
}


/* 轮播图 */
.swiper-img-wrapper{
  height: 460px;
  width: 1226px;
  white-space: nowrap;
  z-index: 99;
  position: relative;
}
.swiper-img-wrapper .swiperimg{
  position: absolute;
  transition: all .5s;
  opacity: 0;
}
.swiper-img-wrapper .swiperimg img{
  height: 460px;
  width: 1226px;
}


/* 轮播图分页器 */
.swiper-index-wrapper{
  position: absolute;
  height: 20px;
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  right: 40px;
  bottom: 20px;
  z-index: 99;
}
.swiper-index-wrapper .index{
  border-radius: 50%;
  background-color: rgba(0,0,0,.4);
  border: 2px solid rgb(87, 87, 87);
  width: 5px;
  height: 5px;
}
.swiper-index-wrapper .active{
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #b0b0b0;
  border: 2px solid rgba(0,0,0,.4);
}


/* 频道列表以及图片 */
.channel-container {
  width: 1226px;
  height: 170px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.channel-container .channel-list{
  height: 170px;
  width: 234px;
  background-color: #5f5750;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.channel-container .channel-list .channel-list-item{
  width: 70px;
  height: 82px;
  padding: 0 3px;
  color: #aaa;
  cursor: pointer;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
}
.channel-container .channel-list .channel-list-item:hover{
  color: #fff;
}
.channel-container .channel-list .channel-list-item .itemIcon{
  width: 70px;
  text-align: center;
  font-size: 24px;
}
.channel-container .channel-list .channel-list-item .text{
  width: 70px;
  margin-top: 10px;
  text-align: center;
}
.channel-container .channel-img img{
  width: 316px;
  height: 170px;
}


/* 右边工具栏 */
.rightbar-container{
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 84px;
  height: 500px;
  background-color: #fff;
}
.rightbar-container .rightbar-item{
  width: 84px;
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #e3e3e3;
  border-top: none;
  cursor: pointer;
}
.rightbar-container .rightbar-item:first-child{
  border-top: 1px solid #e3e3e3;
}
.rightbar-container .rightbar-item svg{
  font-size: 24px;
}
.rightbar-container .rightbar-item:hover{
  color: #ff6700;
}


/* 页脚 */
.foot-container{
  width: 1226px;
  margin: 20px auto;
}
.slogan{
  margin: 40px auto;
  height: 20px;
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/slogan2020.png) no-repeat center 0
}
